.sign-in-page {
    display: flex;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/9873934/pexels-photo-9873934.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.sign-in {
    padding: 70px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    color: white;
}

.sign-in h2 {
    margin-bottom: 40px;
    font-size: 25px;
}

.sign-in form {
    display: flex;
    flex-direction: column;
}

.sign-in .inputs {
    margin-bottom: 20px;
}

.sign-in input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.sign-in .error {
    color: red;
    margin-bottom: 10px;
}

.sign-in p {
    margin-bottom: 10px;
}

.sign-in .signup-link {
    color: #007bff;
}

.sign-in .signup-link:hover {
    text-decoration: underline;
}

.sign-in .Sign-in-btn {
    background-color:  rgb(58, 21, 21);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.new-to-adopthive {
    color: white;
  }
.inputs {
    position: relative;
}

.password-container {
    position: relative;
    color: rgb(58, 21, 21);
  }

  .toggle-password {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
