.sign-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
  }

  .sign-in {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:30px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }

  .password-container {
    position: relative;
    width: 97%;
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
  }

  .error {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }

  .new-to-adopthive {
    text-align: center;
    margin: 15px 0;
  }

  .signup-link {
    color: #007bff;
    text-decoration: none;
  }

  .signup-link:hover {
    text-decoration: underline;
  }

  .Sign-in-btn {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: black;
    background-color: aquamarine;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .Sign-in-btn:hover {
    background-color: aquamarine; 
  }

  .Sign-in-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
