.home-container {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/9873934/pexels-photo-9873934.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

  }
.home-content {
  text-align: center;
  margin-top: 30px;
  justify-content: right;
}
