.adoptees-profile-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: black;
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  overflow-x: auto;
}

.adoptees-profile-container h2 {
  text-align: center;
}
.adoptees-list {
  list-style-type: none;
  padding: 0;
}

.adoptees-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(58, 21, 21);
  border: 1px solid #e0e0e0;
  color: white;
  border-radius: 5px;
  width: 90%;
  margin: 20px;
}

.adoptees-item p {
  margin: 5px 0;
  text-align: center;
}

.adoptees-photo {
  width: 150px;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;

}

.button-link-container {
  margin-top: 20px;

}

button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(58, 21, 21);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 30px;

}

button:hover {
  background-color: rgb(58, 21, 21);
}

.view-matches-link {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color:white;
  margin-left: 30px;
}

.view-matches-link:hover {
  text-decoration: underline;
}
