.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.sign-up-form {
    background-color: #ccc;
    padding: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* max-width: 400px; */
    width: 400%;
}

.sign-up-form h2 {
    color: black;
    margin-bottom: 50px;
    margin-top: 5px;
}

.sign-up-form .sign-up-text {
    color: black;
    margin-bottom: 30px;
}

  .sign-up-form form {
    display: flex;
    flex-direction: column;
  }

.sign-up-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.sign-up-form .signin-link {
    color: #007bff;
    cursor: pointer;
}

/* .sign-up-form .signin-link:hover {
    text-decoration: underline;
  } */

.sign-up-form button {
    background-color: rgb(58, 21, 21);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
