.matched-results-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color:rgb(58, 21, 21) ;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 70px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .loading-message {
    font-size: 18px;
  }

  .no-results-message {
    font-size: 18px;
    color: #d9534f; 
  }
