.header {
    background-color: rgb(58, 21, 21);
    width: 100%;
    color: white;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    margin: 0px;

  }

  .header h1 {
    margin: 0;
    font-size: 2em;
  }
